*           @udacity/active-public-content
*           (base: https://github.com/udacity/nd940-android-kotlin-c4-starter)
*
*           fw: forked starter code
*           fw: completed course module
*           fw: used submitted/reviewed version as basis for capstone project